@charset "UTF-8";

body {
    background-color: #3a85ff;
}
h1 {
    font-size: 2.8rem;
    color: white;
    top: 6rem;
    position: relative;
    text-align: center;
    margin-bottom: -0.5rem;
}
p#description {
    position: relative;
    top: 6rem;
    color: white;
    text-align: center;
    font-size: 1.1rem;
}
div#wrap {
    position: relative;
    top: 6rem;
    text-align: center;
}
a {
	color: aqua;
	text-decoration: none;
}
a:hover {
	color: skyblue;
	text-decoration: none;
}
a:visited {
	color: aqua;
	text-decoration: none;
}
