@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
html {
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}
body, h1, h2, h3, p, span, a {
    font-family: 'Noto Sans TC', sans-serif;
}
.hide {
    display: none !important;
}
a {
    color: orange !important;
    text-decoration: none;
}
a:hover {
    color: #ffcc77 !important;
    text-decoration: none;
}
a:visited {
    color: orange !important;
    text-decoration: none;
}
a.w3-bar-item.w3-button {
    color: black !important;
    text-decoration: none;
}
a.w3-bar-item.w3-button:hover {
    color: black !important;
    text-decoration: none;
}
a.w3-bar-item.w3-button:visited {
    color: black !important;
    text-decoration: none;
}
div.w3-bar.w3-border-bottom {
    position: sticky;
    top: 0;
    background-color: white;
}
.w3-bar-item {
    padding: 8px 10px !important;
}
.BlueGradient {
    background: linear-gradient(90deg, RoyalBlue, SkyBlue);
    background-size: 400% 400%;
    animation: GradientAnimation 10s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer {
    position: relative;
    height: 4rem;
    opacity: 0;
    animation-delay: 2s !important;
    animation: FadeInBottom 1s forwards 1;
}
@keyframes GradientAnimation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
@keyframes FadeInBottom {
    0% {
        opacity: 0;
        bottom: -2rem;
    }
    100% {
        opacity: 1;
        bottom: 0rem;
    }
}
@keyframes FadeInLeft {
    0% {
        opacity: 0;
        left: -2rem;
    }
    100% {
        opacity: 1;
        left: 0rem;
    }
}
